.env
.env*.local
.env.local
__pycache__/
*.pyc
node_modules/
khongcanthiet/
vietnam-geojson.zip
vietnam-geojson/
.sixth/
.vscode/
691688987_122172073454769325_6387215236971057007_n.jpg  
update_to_province.py 
*.doc
*.docx
~$*
*.geojson
*.md
phienamtienganh.txt
normalize_merge_data.py 
*.csv
/static/
!frontend/public/static/
templates/
.next/
frontend/.next/
frontend/out/
*.err
*.log
visitor_stats.json
script_gioi_thieu_viemap.txt